<!-- alexcobb.dev homepage -->
<br>
<div class="row">
  <div class="col-8 offset-2">
    <div class="card-group">
      <div class="card text-right" style="border: none; background-color: #F5F5F5;">
        <ul class="list-group list-group-flush my-auto">
          <li class="list-group-item" style="background-color: #F5F5F5;"><a href="mailto:me@alexcobb.dev">me@alexcobb.dev</a></li>
        </ul>
      </div>
      <div class="card text-center" style="/*border-left: 1px solid #e5e5e5;*/ border:none; background-color: #F5F5F5;">
        <img src="assets/alex.jpg" class="card-img-top" style="max-width: 242px; margin:auto; border-radius: 30px" alt="the man himself">
        <div class="card-body">
          <h4 class="card-title">alex cobb</h4>
          <p class="card-text">software engineer</p>
        </div>
      </div>
      <div class="card text-left" style="border: none; background-color: #F5F5F5;">
        <ul class="list-group list-group-flush my-auto">
          <li class="list-group-item" style="background-color: #F5F5F5;"><a href="https://github.com/axvcobb">github.com/axvcobb</a></li>
          <li class="list-group-item" style="background-color: #F5F5F5;"><a href="https://www.linkedin.com/in/alexvcobb/">linkedin.com/in/alexvcobb</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #99CCFF; border-radius: 5px;">
  <div class="col-12">
    <div class="card" style="border: none; background-color: #99CCFF">
      <div class="card-body">
        <h4 class="card-title">about</h4>
        <hr>
        <p class="card-text">Hello World! I am an Atlanta based Software Engineer with a Computer Science degree. I graduated in 2018 but have been coding professionally since 2015. I am a full-stack engineer, but I primarily work on the back-end and with APIs. I am fluent in both Java and PHP.</p>
        <p class="card-text">When I'm not at work or doing side projects, I spend my hours hiking, brewing my own beer, cooking some crazy dishes, and playing with my dog, Taco. I've also recently gotten into running with the hope of running a full marathon later this year. I love connecting with people so feel free to send me an email!</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <h4>skills</h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><u>proficient</u></h5>
          <ul class="list-group list-group-flush my-auto">
            <li class="list-group-item">php (Laravel)</li>
            <li class="list-group-item">java</li>
            <li class="list-group-item">AMPscript</li>
            <li class="list-group-item">html</li>
            <li class="list-group-item">css</li>
            <li class="list-group-item">git</li>
          </ul>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><u>familiar</u></h5>
          <ul class="list-group list-group-flush my-auto">
            <li class="list-group-item">javascript</li>
            <li class="list-group-item">ruby on rails</li>
            <li class="list-group-item">REST</li>
            <li class="list-group-item">SOAP</li>
            <li class="list-group-item">SQL</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row" style="background-color: #99CCFF; border-top-left-radius: 5px; border-top-right-radius: 5px;">
  <div class="col-12">
    <div class="card" style="border: none; background-color: #99CCFF">
      <div class="card-body">
        <h4 class="card-title">personal projects</h4>
        <hr>
        <h5 class="card-title">alexcobb.dev</h5>
        <p class="card-text">This website is my latest project.</p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="background-color: #99CCFF">
  <div class="col-12">
    <div class="card" style="border: none; background-color: #99CCFF">
      <div class="card-body">
        <h5 class="card-title">BeerVC</h5>
        <p class="card-text">My latest project has come from a personal need to track my homebrewing recipes as they change over time. These recipes can be exported into a standardized XML structure called BeerXML. BeerVC is built with Java and SQLite. It parses the BeerXML and keeps a versioned history of each recipe as well as the diff from version to version. It is currently a work in progress so please check back.</p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="background-color: #99CCFF; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
  <div class="col-12">
    <div class="card" style="border: none; background-color: #99CCFF">
      <div class="card-body">
        <h5 class="card-title">Create Your Own Alexa Adventure</h5>
        <p class="card-text">I worked on a team of six to build an Android app and custom Alexa skill that allowed people to customize and play a Dungeons and Dragons style game. The Android app served as the UI and campaign creator while Alexa served as the "Dungeon Master". Both the app and skill were built using Java. We used Google Firebase as the database to link the two platforms.</p>
        <p class="card-text">The group of six was split up into two groups where one group focused on the app development while the other focused on the skill development. To keep everyone familiar with the entire codebase, the Alexa team was in charge of the QA, code reviews, and testing of the app, and vice versa. We used git for version control and agile methodologies for project management.</p>
      </div>
    </div>
  </div>
</div>
<br>
